{% extends 'site/base.html' %}
{% load static %}

{% block title %}
    Đặt hàng - Mỹ Phẩm Beauty Online
{% endblock title %}

{% block blockcss %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.jpg' %}" />
    <link rel="stylesheet" href="{% static 'vendor/fontawesome-free-5.11.2-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/star-rating/css/star-rating.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock blockcss %}

{% block blockcontent %}
    <main id="maincontent" class="page-main">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li>Giỏ hàng</li>
                        <li><span>/</span></li>
                        <li class="active"><span>Thông tin giao hàng</span></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <aside class="col-md-6 cart-checkout">
                {% for cart in carts %}
                    <div class="row">
                        <div class="col-xs-2">
                            <img class="img-responsive" src="{% static cart.image %}" alt="{{cart.product.TenSP}}"> 
                        </div>
                        <div class="col-xs-7">
                            <a class="product-name" href="{% url 'mode.item' mode='product' id_product=cart.product.MaSP %}">{{cart.product.TenSP}}</a> 
                            <br>
                            <span>{{cart.amount}}</span> x <span>{{cart.price_sale}}₫</span>
                        </div>
                        <div class="col-xs-3 text-right">
                            <span>{{cart.total}}₫</span>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                    <div class="row">
                        <div class="col-xs-6">
                            Tạm tính
                        </div>
                        <div class="col-xs-6 text-right">
                            {{total}}₫
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            Phí vận chuyển
                        </div>
                        <div class="col-xs-6 text-right">
                            <span class="shipping-fee" data="">{{transport}}₫</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            Tổng cộng
                        </div>
                        <div class="col-xs-6 text-right">
                            <span class="payment-total">{{totalAll}}₫</span>
                        </div>
                    </div>
                </aside>
                <div class="ship-checkout col-md-6">
                    <h4>Thông tin giao hàng</h4>
                    <form action="{% url 'myaccount.getorder' %}" method="POST">
                    {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="text" value="{{name_user}}" class="form-control" name="fullname" placeholder="Họ và tên" required="" oninvalid="this.setCustomValidity('Vui lòng nhập tên của bạn')" oninput="this.setCustomValidity('')">
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="tel" value="{{phone}}" class="form-control" name="mobile" placeholder="Số điện thoại" required="" pattern="[0][0-9]{9,}" oninvalid="this.setCustomValidity('Vui lòng nhập số điện thoại bắt đầu bằng số 0 và ít nhất 9 con số theo sau')" oninput="this.setCustomValidity('')">
                            </div>
                            <div class="form-group col-sm-4">
                                <select name="province" class="form-control province" required="" oninvalid="this.setCustomValidity('Vui lòng chọn Tỉnh / thành phố')" oninput="this.setCustomValidity('')">
                                    <option value="">Tỉnh / thành phố</option>
                                {% for tinh in Tinhs %}
                                    <option value="{{tinh.MaTinh}}" {% if tinh.MaTinh == Tinh %}selected{% endif %}>{{tinh.TenTinh}}</option>
                                {% endfor %}
                                    
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <select name="district" class="form-control district" required="" oninvalid="this.setCustomValidity('Vui lòng chọn Quận / huyện')" oninput="this.setCustomValidity('')">
                                    {% if Huyen %}
                                    <option value="{{Huyen.MaHuyen}}">{{Huyen.TenHuyen}}</option>
                                    {% else %}
                                    <option value="">Quận / huyện</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <select name="ward" class="form-control ward" required="" oninvalid="this.setCustomValidity('Vui lòng chọn Phường / xã')" oninput="this.setCustomValidity('')">
                                    {% if Xa %}
                                    <option value="{{Xa.MaXa}}">{{Xa.TenXa}}</option>
                                    {% else %}
                                    <option value="">Phường / xã</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group col-sm-12">
                                <input type="text" name="address" value="{{DiaChi}}" class="form-control" placeholder="Địa chỉ" name="address" required="" oninvalid="this.setCustomValidity('Vui lòng nhập địa chỉ bao gồm số nhà, tên đường')" oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                        <h4>Phương thức thanh toán</h4>
                        <div class="form-group">
                            <label> <input type="radio" name="payment_method" checked="" value="0"> Thanh toán khi giao hàng (COD) </label>
                            <div></div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-sm btn-primary pull-right">Hoàn tất đơn hàng</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock blockcontent %}

{% block blockjs %}
    <script>
        window.fbAsyncInit = function() {
            FB.init({
            xfbml            : true,
            version          : 'v4.0'
        });
        };
        
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{% static '/vendor/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/OwlCarousel2-2.3.4/dist/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/vendor/star-rating/js/star-rating.min.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="{% static '/vendor/format/number_format.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/script.js' %}"></script>
{% endblock blockjs %}